* {
    /* O Seletor Universal, Este é o seletor universal.
     O que você coloca aqui afeta todos os elementos da página de uma vez */
    margin: 0px;
    /* margin: 0px; e padding: 0px;: Eles "zeram" o espaçamento padrão que os navegadores colocam automaticamente nos elementos.
                  Isso é chamado de Reset CSS e serve para você ter controle total do layout. */
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: Arial, Helvetica, sans-serif;:
     Define a fonte principal do site. Se o computador não tiver Arial, tenta Helvetica, e assim por diante. */
}

body {
    /*Representa o corpo da página inteira.  */
    background-color: rgba(125, 105, 105, 0.29);
    /* Pinta o fundo da sua página inteira com um tom de cinza bem clarinho (quase branco). */
}

h1 {
    text-align: center;
    /* Centraliza o texto horizontalmente */
    clear: both;
    /* Diz para o título (h1) e para o formulário (form) que eles não podem ficar do lado de nenhum outro elemento (como o seu menu azul).
    Eles são obrigados a "limpar" o espaço e começar na próxima linha disponível abaixo dele. */
    display: block;
    padding-top: 10px;
    /*Serve para dar um respiro visual, assim o texto "Cadastro de Usuário" não fica tão colado no menu quando descer! */
    text-align: center;
    /*Centraliza o texto.  */
    margin-top: 20px;
    /* Espaço acima do título. */
    margin-bottom: 20px;
    /* Espaço abaixo do título. */
    font-size: 28px;
}

@media (max-width:768px) {
    h1 {
        font-size: 28px;
        /* No celular o título fica um pouco menor. */
    }
}

h3 {
    padding-top: 10px;
    margin: 10px;
    font-size: 20px;
}

h4 {
    margin: 10px
}

p {
    /* (Parágrafos de texto) */
    clear: both;
    /* Assim como no main, aplicar isso aos parágrafos garante que nenhum texto flutue acidentalmente para o lado do menu ou de imagens flutuantes.
    Ele obriga o texto a sempre iniciar em uma linha limpa abaixo dos elementos anteriores. */
    margin: 15px;
}

iframe {
    /* (Seu vídeo do YouTube) */
    display: block;
    /* Ao mudar para display block, o iframe passa a exigir uma linha inteira só para ele, forçando uma quebra de linha antes e depois.
    Isso impede que qualquer texto ou nome fique colado na lateral do vídeo. */
    max-width: 100%;
    /* Garante que não vaze da tela do dispositivo que está sendo visto */
    margin: 20px auto;
    /* Adiciona um espaço em cima e embaixo do vídeo, mantendo as laterais zeradas */
}

main {
    /* (O contêiner principal da página) */
    clear: both;
    /* Esta é a regra mágica que empurrou o conteúdo para baixo do menu. Se o seu menu estiver usando técnicas como float: left ou float: right,
    os elementos que vêm depois tendem a subir e preencher o espaço vazio ao lado dele. O clear: both diz ao navegador: "ignore os espaços ao lado, vá para debaixo de qualquer elemento flutuante anterior". */
    display: block;
    /* Garante que o contêiner principal aja como um bloco estrutural sólido. */
    width: 100%;
    /* Faz com que a área principal ocupe toda a largura da tela. */
}

.menulist {
    list-style: none;

    display: flex;
    /* Coloca todos os itens lado a lado */

    justify-content: flex-start;
    /* Alinha os itens à esquerda */

    flex-wrap: wrap;
    /* Se faltar espaço, permite quebrar a linha */
}

.menuitem {
    /* .menuitem: São os itens individuais do menu (geralmente tags <li>). */
    position: relative;
    /* Deixa o item posicionado de forma "relativa". Isso é essencial para que o submenu saiba de onde ele deve "nascer" quando for ativado. */
    background-color: rgb(69, 126, 239)
        /* Define a cor principal dos botões do seu menu. Esse código RGB (Red, Green, Blue) gera aquele tom de azul vibrante. */
}

.menuitem a {
    /* .menuitem a: São os links clicáveis dentro do menu. */
    display: block;
    /* Faz com que todo o espaço em volta da palavra também seja clicável, transformando o link em um "bloco" ou "botão". */
    color: white;
    /* Deixa a letra do link branca. */
    text-decoration: none;
    /* Tira aquele sublinhado chato que todo link HTML tem por padrão. */
    padding: 15px 20px
        /* Cria o "recheio" do botão. Dá 15 pixels de espaço em cima/embaixo e 20 pixels nas laterais da palavra. */
}

.menuitem a:hover {
    /* Efeitos de Mouse (:hover) */
    /* .menuitem a:hover: O :hover é acionado quando o usuário passa o mouse por cima. Aqui, ele muda a cor de fundo do link para um azul mais claro. */
    background-color: rgb(135, 155, 196);
    /* Define a cor que o botão vai ficar quando o mouse passar por cima. Esse código RGB gera um azul mais claro e acinzentado,
     criando aquele efeito visual de que o botão está sendo selecionado ou iluminado. */
}

.dropcontent {
    /* O Submenu / Dropdown (.dropcontent) */
    /* .dropcontent: É a caixa que guarda os links secundários (que ficam escondidos). */
    position: absolute;
    /* Faz essa caixa "flutuar" na tela, descolada do resto do conteúdo, para não empurrar os textos para baixo quando aparecer. */
    display: none;
    /* Esconde o submenu. Ele não vai aparecer na tela até receber uma ordem contrária. */
    top: 100%;
    /* top: 100%; e left: 0;: Dizem para o submenu aparecer exatamente grudado na parte de baixo (100%) e alinhado à esquerda (0) do menu principal. */
    left: 0;
    min-width: 160px;
    /* Garante uma largura mínima para os textos do submenu não ficarem espremidos. */
    background-color: rgb(69, 126, 239);
    /* Define a cor de fundo da caixa do submenu (a que fica escondida e aparece ao passar o mouse).
     Note que é exatamente o mesmo azul do .menuitem. Isso serve para manter a consistência visual, fazendo com que o submenu pareça uma extensão natural do menu principal.*/
    box-shadow: 0px 8px 16px rgba(0, 0, 0, .2);
    /* Cria um efeito de sombra (em tom preto com 20% de transparência) para dar a ilusão de que o submenu está saltando da tela. */
}

.dropcontent a {
    /* .dropcontent a: Estiliza os links de dentro do submenu. Funciona igual aos links do menu principal, mas com um padding ligeiramente menor (12px 16px). */
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px 16px;
}

.menulist>.menuitem>a:hover {
    /* .menulist > .menuitem > a:hover: O sinal de maior > significa filho direto. Isso garante que o efeito de mudar de cor ao passar o mouse aconteça apenas no link principal,
     não interferindo acidentalmente em outros links que estejam mais "profundos" no código. */
    background-color: rgb(135, 155, 196);
    /* Esta regra faz exatamente a mesma coisa que o .menuitem a:hover (muda para o azul mais claro ao passar o mouse). 
    A diferença aqui é a especificidade. O uso dos sinais de maior > (que significam "filho direto") garante que esse fundo azul claro seja aplicado apenas aos links da barra principal.
     Isso evita que a regra afete acidentalmente os links que estão dentro do submenu (já que eles também são tags a dentro de um .menuitem). */
}

.menuitem:hover>.dropcontent {
    /* .menuitem:hover > .dropcontent: Esta é a regra principal do submenu! Ela diz ao navegador: "Quando o mouse passar por cima do item do menu (:hover), pegue o submenu (.dropcontent)
     que está dentro dele e mude seu estilo para display: block;". É isso que faz o submenu aparecer do nada (saindo do display: none para block). */
    display: block;
}

.subtitulo {
    /* Classe criada para estilizar subtítulos da página. */
    color: rgb(21, 20, 20);
    /* Serve para mudar a cor do subtitulo que definir */
    margin: 10px;
    /* Cria um espaço externo ao redor do subtítulo. */
    padding-top: 10px;
    /* Adiciona um pequeno espaço interno acima do texto,
       afastando-o do elemento anterior. */
}

footer {
    /* Rodapé da página. É a área onde ficam informações finais do site, como autor,
       direitos autorais e links para contato. */
    text-align: center;
    margin: 20px;
    /* Cria um espaçamento de 20px em cima e embaixo, deixando o rodapé mais centralizado.*/
}

table>caption {
    /* Seleciona apenas o título (caption) que é filho direto da tabela (table). */
    margin: 10px;
    /* Adiciona um pequeno espaço ao redor do título da tabela,
       evitando que ele fique colado nela. */
}

img {
    /* Estiliza todas as imagens da página. */
    display: block;
    /* Faz a imagem ocupar uma linha inteira,
       evitando que fique ao lado de outros elementos. */
    max-width: 100%;
    /* Nunca deixa a imagem ser maior que a tela.. */
    height: auto;
    /* Mantém a proporção da imagem. */
    margin: 10px;
    /* Adiciona um espaço externo ao redor da imagem. */
}

ul {
    list-style-type: disc;
    /* Força o navegador a mostrar as bolinhas padrão */
    padding-left: 20px;
    /* Dá o espaço necessário na esquerda para que elas apareçam na tela */
    margin-bottom: 5px;
    /* Aproveita para afastar a lista do conteúdo de baixo */
}

/* 1. Estilizando a própria tabela */
table {
    margin: 20px auto;
    /* Espaçamento externo da tabela e centralização. */
    width: 95%;
    /* Ela ocupará toda a largura disponível. */
    border: 2px solid black;
    /* Cria a borda externa da tabela */
    max-width: 900px;
    /* Nunca fica gigantesca. */
}

.tabela {

    overflow-x: auto;

}

/* 2. Estilizando as células */
th,
td {
    border: 1px solid black;
    /* Cria as bordas das células */
    padding: 10px;
    /* Espaço interno entre o texto e a borda. */
}

/* 3. Remove as bordas duplicadas */
th,
td {
    border-top: none;
    /* Remove a borda superior das células. */
    border-left: none;
    /* Remove a borda esquerda das células. */
}

th:first-child,
td:first-child {
    border-left: none;
    /* Garante que a primeira coluna não tenha borda à esquerda. */
}

tr:first-child th {
    border-top: none;
    /* Garante que a primeira linha da tabela não tenha borda superior. */
}

/* 4. Destaca a linha quando o mouse passa */
tbody tr:hover {
    background-color: rgb(217, 234, 250);
    /* Muda a cor da linha quando o usuário passa o mouse,
       facilitando a visualização da informação. */
}

/* 1. Estilizando o título da tabela */
caption {
    font-size: 25px;
    /* Tamanho da letra */
    font-weight: bold;
    /* Deixa em negrito */
    padding: 5px;
    /* Espaçamento interno */
    text-align: center;
    /* Centraliza o texto */
}

form {
    /* (O formulário da página) */
    clear: both;
    /* Assim como usamos no main e no h1, essa regra diz ao formulário para ignorar qualquer elemento flutuante (como os itens do menu que usam float: left)
    e pular para a próxima linha limpa. Isso garante que o formulário fique perfeitamente alinhado abaixo do menu, e não espremido do lado dele. */
    display: block;
    width: 90%;
    /* largura do formulário */
    max-width: 450px;
    margin: 20px auto;
    /* centraliza o formulário */
    padding: 20px;
    /* espaço interno */
    border: 2px solid #4b7bec;
    /* borda azul */
    border-radius: 25px;
    /* cantos arredondados */
    background-color: #f8fbff;
    /* fundo bem claro */
}

.titulo {
    font-weight: bold;
    /* Deixa os nomes em negrito. */
}

.titulo-genero {
    display: block;
    /* Transforma o label em um bloco.
    Assim ele ocupa a linha inteira. Sem isso, ele fica como texto comum. */
    font-weight: bold;
    margin-bottom: 15px;
    /* Cria um espaço entre  Gênero: e Masculino ○ */
}

.radio-group {
    margin-bottom: 20px;
    /* Serve apenas para dar um espaço entre o grupo dos rádios e o próximo campo (Senha) */
}

.radio-label {
    display: block;
    /* Cada opção fica em uma linha. */
    font-weight: normal;
    /* Tira o negrito. Só o "Gênero:" continua em negrito. */
    margin-bottom: -5px;
    /* Dá um espacinho entre uma opção e outra. */
}

/* Campos de texto do formulário */
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea {
    width: 95%;
    /* ocupa quase toda a largura */
    padding: 8px;
    /* aumenta a altura */
    margin-top: 5px;
    /* espaço acima */
    margin-bottom: 12px;
    /* espaço abaixo */
}

input[type="radio"] {
    width: auto;
    /* O navegador escolhe a largura normal da bolinha. */
    margin-right: 6px;
    /* Cria um pequeno espaço entre a bolinha e a palavra. */
}

input[type="submit"] {
    background-color: #4b7bec;
    /* Cor do botão. */
    color: white;
    /* Cor do texto. */
    border: none;
    /* Remove a borda padrão. */
    padding: 10px;
    /* Aumenta o tamanho do botão. */
    cursor: pointer;
    /* Quando passa o mouse aparece a "mãozinha". */
}

input[type="submit"]:hover {
    background-color: #3b65c7;
    /* Quando o usuário passa o mouse, o botão muda um pouco de cor. */
}

@media (max-width:768px) {

    .menulist {

        flex-direction: column;
        /* Coloca os itens um abaixo do outro */

    }

    .menuitem {

        width: 100%;
        /* Cada botão ocupa toda a largura */

    }

    .dropcontent {

        position: static;
        /* O submenu acompanha o fluxo normal */

    }

}